

<a action="one">点我打开新界面</a>

<pre>
            require([cj.getModuleJs('widget/DispatcherPanel')], function (DispatcherPanel) {
                var module = 'views/TestOne';
                DispatcherPanel.open('text!' + module + '.htm', module, {
                    title: "我在这里",
                    ptype: DispatcherPanel.PANELINLINE
                });
            });
</pre>

<br>
<a action="two">点我弹开新界面</a>

<pre>
            require([cj.getModuleJs('widget/DispatcherPanel')], function (DispatcherPanel) {
                var module = 'views/TestOne';
                DispatcherPanel.open('text!' + module + '.htm', module, {
                    title: "我在这里",
                    ptype: DispatcherPanel.PANELLAYER
                });
            });
</pre>
<br>