<table class="easyui-datagrid-noauto"
         data-options="
                       method:'get',
                       border:false,
                       fit:true,fitColumns:true,
                       pageSize:cj.getPageSize(),
                       pageList:cj.getPageList(),
                       singleSelect:true,
                       pagination:true">
    <thead>
      <tr>
<!--         <th data-options="field:'oldid'">	编号</th>-->
 <th data-options="field:'title1',width:60,formatter:function(v,r,i)
                          {
                          var str='<div></div>';
                          str=$(str).append('<a class=&quot;pointer-underline&quot;  action=&quot;view&quot; >'+v+'</a>');
                          return str.html();
                          }">	姓名</th>
 <th data-options="field:'title2',width:60">	身份证号码</th>
 <th data-options="field:'title3',width:60">	联系电话</th>
 <th data-options="field:'title4',width:30,formatter:cj.enumFormatter('enu007')">	性别</th>
 <th data-options="field:'title5',width:60">	籍贯</th>
 <th data-options="field:'title6',width:30,formatter:cj.enumFormatter('enu011')">	学历</th>
 <th data-options="field:'title7',width:60,formatter:cj.enumFormatter('enu040')">   政治面貌</th>
 <th data-options="field:'title8',width:60,formatter:cj.enumFormatter('enu009')">	婚姻状况</th>
 <th data-options="field:'title9',width:30,formatter:cj.enumFormatter('enu037')">	是否残疾</th>
 <th data-options="field:'title10',width:60,formatter:cj.enumFormatter('enu004')">	居住状态</th>
          <th data-options="field:'ooo',width:100,align:'center',fixed:true,
                            formatter:cj.button.RoundTextFormatter(['mydelete','删除','trash'],['update','编辑','update'])">操作
        </th>


      </tr>
    </thead>
  </table>
  <div tb="toolbar" class="my-toolbar">
      <label class="my-tool-label">姓名</label>
    <input class="easyui-textbox" type="text" opt="oldname" data-options="width:100,prompt:''">
      <label class="my-tool-label">身份证</label>
      <input class="easyui-textbox" type="text" opt="oldcardnum" data-options="width:100,prompt:''">
      <label class="my-tool-label">电话</label>
      <input class="easyui-textbox" type="text" opt="oldtelnum" data-options="width:100,prompt:''">
      <label class="my-tool-label">性别</label>
      <input class="easyui-combobox" type="text" opt="oldsex" data-options="width:100,prompt:'',data:cj.getEnum('enu007'),panelHeight:'auto'">
      <a  action="search" class="tool-search">搜索</a>
      <a  action="new-inline" class="tool-add">+新增inline</a>
      <a  action="new-layer" class="tool-add">+新增layer</a>
      <a  action="recur-layer" class="tool-add">弹出本页面</a>
      <a  action="excel-data" class="tool-add">excel数据</a>
      <a  style="float:right;margin-right:20px;" class="easyui-linkbutton" iconCls="panel-tool-close"
          plain="true" action="close" ></a>
  </div>
