<table class="easyui-datagrid-noauto"
       data-options="
                       method:'get',
                       border:false,
                       fit:true,fitColumns:true,
                       pageSize:cj.getPageSize(),
                       pageList:cj.getPageList(),
                       singleSelect:true,
                       pagination:true">
    <thead>
    <tr>
 <th data-options="field:'yjname',width:60,formatter:function(v,r,i){
     return '<a action=view>'+v+'</a>';
 }">名称</th>
        <th data-options="field:'预案资料',width:60,formatter:function(v,r,i){
           return '<a href=&quot;#&quot;>下载</a>';
        }"> 预案资料</th>
        <th data-options="field:'ooo',width:100,align:'center',fixed:true,
                            formatter:cj.button.RoundTextFormatter(['startup','启动','startup'],['jiechu','解除','jiechu'])">
            操作
        </th>
    </tr>
    </thead>
</table>
<div tb="toolbar" class="my-toolbar">
    <a action="create-yuan" class="tool-add">创建</a>
</div>
