<table class="easyui-datagrid-noauto"
       data-options="
                       method:'get',
                       border:false,
                       fit:true,fitColumns:true,
                       pageSize:cj.getPageSize(),
                       pageList:cj.getPageList(),
                       singleSelect:true,
                       pagination:true">
    <thead>
    <tr>
 <th data-options="field:'yjname',width:60,formatter:function(v,r,i){
     return '<a action=view style=&quot;text-decoration: underline;&quot;>'+v+'</a>';
 }">名称</th>
        <th data-options="field:'yjpath',width:60,formatter:function(v,r,i){
           return '<a href=&quot;'+v+'&quot;>下载</a>';
        }"> 预案资料</th>
        <th data-options="field:'yjid',width:60,formatter:function(v,r,i){
           return '<a action=&quot;showdetail&quot; style=&quot;text-decoration: underline;&quot;>详细</a>';
        }"> 详细</th>
        <th data-options="field:'ooo',width:100,align:'center',fixed:true,
                            formatter:cj.button.RoundTextFormatter(['startup','启动','startup'],['jiechu','解除','jiechu'])">
            操作
        </th>
    </tr>
    </thead>
</table>
<div tb="toolbar" class="my-toolbar">
    <a action="create-yuan" class="tool-add">创建预案</a>
    <label class="my-tool-label">级别</label>
      <input class="easyui-combobox" type="text" opt="rmlevel"
             data-options="width:100,prompt:'',data:cj.getEnum('rmlevel'),panelHeight:'auto'">
</div>
