<div>

    <div opt="demo1">
        <h3>File Upload Progress Demo #1 一个文件 </h3>
        <code>&lt;input type="file" name="myfile"></code>
        <form action="eers/attachment" method="post" enctype="multipart/form-data">
            <input type="file" name="myfile"><br>
            <input type="submit" value="Upload File to Server">
        </form>

        <div class="progress">
            <div class="bar"></div>
            <div class="percent">0%</div>
        </div>

        <div opt="status"></div>
    </div>

    <hr>

    <div opt="demo2">

        <a>发送request plyload ,内容为json</a>
    </div>


    <div opt="demo3">

        <a>发送request payload ,内容为标签</a>
    </div>


<hr>
    <div opt="demo4">

        <a>发送request form ,内容为json</a>
    </div>
<hr>
    <div opt="demo5">

        <a>发送request payload ,请求地图服务</a>
    </div>

    <div opt="demo6">

        <a>发送request payload ,请求真实东阳避灾安置场所地图服务</a>
    </div>

</div>


<div class="hvit-form-bottom-tool-bar" btns="cj.button.Mo(['close','关闭'],['save','保存','save'])"></div>