<div>

    <div opt="demo1">
        <h3>File Upload Progress Demo #1 一个文件 </h3>
        <code>&lt;input type="file" name="myfile"></code>
        <form action="eers/attachment" method="post" enctype="multipart/form-data">
            <input type="file" name="myfile"><br>
            <input type="submit" value="Upload File to Server">
        </form>

        <div class="progress">
            <div class="bar"></div>
            <div class="percent">0%</div>
        </div>

        <div opt="status"></div>
    </div>

    <hr>

    <div opt="demo2">
        <h3>File Upload Progress Demo #2 多文件 </h3>
        <code>&lt;input type="file" name="myfile">
            &lt;input type="file" name="myfile">
            &lt;input type="file" name="myfile">

        </code>
        <form action="eers/attachment" method="post" enctype="multipart/form-data">
            <input type="file" name="myfile"><br>
            <input type="file" name="myfile"><br>
            <input type="submit" value="Upload File to Server">
        </form>

        <div class="progress">
            <div class="bar"></div>
            <div class="percent">0%</div>
        </div>
        <div opt="status"></div>
    </div>

    <hr>

    <div opt="demo3">
        <h3>File Upload Progress Demo #3 多选</h3>
        <code>&lt;input type="file" name="myfile" multiple></code>
        <form action="eers/attachment" method="post" enctype="multipart/form-data">
            <input type="file" name="myfile" multiple><br>
            <input type="submit" value="Upload File to Server">
        </form>

        <div class="progress">
            <div class="bar"></div>
            <div class="percent">0%</div>
        </div>

        <div opt="status"></div>
    </div>
</div>


<div class="hvit-form-bottom-tool-bar" btns="cj.button.Mo(['close','关闭'],['save','保存','save'])"></div>