<table class="easyui-datagrid-noauto"
       data-options="
                       method:'get',
                       border:false,
                       fit:true,fitColumns:true,
                       pageSize:cj.getPageSize(),
                       pageList:cj.getPageList(),
                       singleSelect:true,
                       pagination:true">
    <thead>
    <tr>
 <th data-options="field:'originname',width:60,formatter:function(v,r,i){
          return '<a target=_blank href=&quot;'+r.filepath+'&quot;>'+v+'</a>';
          }">	文件名</th>
 <th data-options="field:'filesize',width:20,formatter:function(v,r,i){
             var size=v;
             if(size<1024){return size+'B';}
             else if(size<1024*1024){return (size/1024).toFixed(2)+'KB';}
             else if(size<1024*1024*1024){return (size/(1024*1024)).toFixed(2)+'MB';}
             else {return (size/(1024*1024*1024)).toFixed(2)+'GB';}
          }">	大小</th>
          <th data-options="field:'filepath',width:120,formatter:function(v,r,i){
          return '<a target=_blank href=&quot;'+v+'?dlname='+r.originname+'&quot;>下载</a>';
          }">	下载</th>
        <th data-options="field:'loaddate',width:60,formatter:cj.dateFormatter()"> 时间</th>
        <th data-options="field:'ooo',width:100,align:'center',fixed:true,
                            formatter:cj.button.RoundTextFormatter(['mydelete','删除','trash'])">
            操作
        </th>
    </tr>
    </thead>
</table>
<div tb="toolbar" class="my-toolbar">
    <label class="my-tool-label">文件名</label>
    <input class="easyui-textbox" type="text" opt="originname" data-options="width:100,prompt:''">

    <a action="search" class="tool-search">搜索</a>
    <a action="new-layer" class="tool-add">+新增资料</a>
    <a style="float:right;margin-right:20px;" class="easyui-linkbutton" iconCls="panel-tool-close"
       plain="true" action="close"></a>
</div>
