<html xmlns="html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>定制</title>
    <link rel="stylesheet" 
          type="text/css" 
          th:href="@{/resources/style.css}"></link>
  </head>
  <body>


    <div id="content">
      <h1>hello 99</h1>
  
      <a th:href="@{/spittles}">Spittles</a>
      <br/>
      
    </div>
  </body>
</html>
