<% _.each(children,function(item,index){ %>

<p>
    <img src=""><span><%= index+1 %>:<%=item.reservoirname%></span>
<p style="background: linear-gradient(to bottom,#ffffff 0%, rgba(227, 255, 243, 0.7) 100%)">
    <span>地址:<%=item.reservoiraddress%></span>
    <span>水库编号:<%=item.reservoirid%></span>
    <br>

    <span>时间:<%=item.reservoirtime%></span>
    <br>

    <span>面积:<%=item.reservoirarea%></span>
    <span>高:<%=item.damheight%></span>
    <span>长:<%=item.damlong%></span>
    <br>

    <span>设计最大水位:<%=item.designwaterlevel%></span>
    <span>最大水位:<%=item.maxwaterlevel%></span>
    <span>最大容量:<%=item.maxcapacity%></span>

</p>
</p>

<% }) %>
