<% _.each(children,function(item,index){ %>

<p>
    <img src=""><span><%= index+1 %>:滩坑水库</span>
<p style="background: linear-gradient(to bottom,#ffffff 0%, rgba(227, 255, 243, 0.7) 100%)">
<p>水库编号:<%=reservoirid%></p>
<p>水库名称:<%=reservoirname%></p>
<p>地址:<%=reservoiraddress%></p>
<p>面积:<%=reservoirarea%></p>
<p>时间:<%=reservoirtime%></p>
<p>高:<%=damheight%></p>
<p>最大水位:<%=maxwaterlevel%></p>
<p>设计最大水位:<%=designwaterlevel%></p>
<p>最大容量:<%=maxcapacity%></p>
<p>长:<%=damlong%></p>
<p>长:<%=damlong%></p>

</p>
</p>

<% }) %>
