<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hvit.workspace.dao.DivisionMapper">
  <resultMap id="BaseResultMap" type="cn.com.hvit.workspace.model.Division">
    <id column="DVCODE" jdbcType="VARCHAR" property="dvcode" />
    <result column="DVNAME" jdbcType="VARCHAR" property="dvname" />
    <result column="DVRANK" jdbcType="DECIMAL" property="dvrank" />
    <result column="DVHIGH" jdbcType="VARCHAR" property="dvhigh" />
    <result column="DVFLAG" jdbcType="DECIMAL" property="dvflag" />
    <result column="TOTALNAME" jdbcType="VARCHAR" property="totalname" />
    <result column="ISDEL" jdbcType="DECIMAL" property="isdel" />
  </resultMap>
  <sql id="Base_Column_List">
    DVCODE, DVNAME, DVRANK, DVHIGH, DVFLAG, TOTALNAME, ISDEL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DIVISION
    where DVCODE = #{dvcode,jdbcType=VARCHAR}
  </select>
   <select id="selectSubDivision" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from DIVISION
    where dvhigh = #{dvhigh,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from DIVISION
    where DVCODE = #{dvcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.hvit.workspace.model.Division">
    insert into DIVISION (DVCODE, DVNAME, DVRANK, 
      DVHIGH, DVFLAG, TOTALNAME, 
      ISDEL)
    values (#{dvcode,jdbcType=VARCHAR}, #{dvname,jdbcType=VARCHAR}, #{dvrank,jdbcType=DECIMAL}, 
      #{dvhigh,jdbcType=VARCHAR}, #{dvflag,jdbcType=DECIMAL}, #{totalname,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hvit.workspace.model.Division">
    insert into DIVISION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dvcode != null">
        DVCODE,
      </if>
      <if test="dvname != null">
        DVNAME,
      </if>
      <if test="dvrank != null">
        DVRANK,
      </if>
      <if test="dvhigh != null">
        DVHIGH,
      </if>
      <if test="dvflag != null">
        DVFLAG,
      </if>
      <if test="totalname != null">
        TOTALNAME,
      </if>
      <if test="isdel != null">
        ISDEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dvcode != null">
        #{dvcode,jdbcType=VARCHAR},
      </if>
      <if test="dvname != null">
        #{dvname,jdbcType=VARCHAR},
      </if>
      <if test="dvrank != null">
        #{dvrank,jdbcType=DECIMAL},
      </if>
      <if test="dvhigh != null">
        #{dvhigh,jdbcType=VARCHAR},
      </if>
      <if test="dvflag != null">
        #{dvflag,jdbcType=DECIMAL},
      </if>
      <if test="totalname != null">
        #{totalname,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hvit.workspace.model.Division">
    update DIVISION
    <set>
      <if test="dvname != null">
        DVNAME = #{dvname,jdbcType=VARCHAR},
      </if>
      <if test="dvrank != null">
        DVRANK = #{dvrank,jdbcType=DECIMAL},
      </if>
      <if test="dvhigh != null">
        DVHIGH = #{dvhigh,jdbcType=VARCHAR},
      </if>
      <if test="dvflag != null">
        DVFLAG = #{dvflag,jdbcType=DECIMAL},
      </if>
      <if test="totalname != null">
        TOTALNAME = #{totalname,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        ISDEL = #{isdel,jdbcType=DECIMAL},
      </if>
    </set>
    where DVCODE = #{dvcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hvit.workspace.model.Division">
    update DIVISION
    set DVNAME = #{dvname,jdbcType=VARCHAR},
      DVRANK = #{dvrank,jdbcType=DECIMAL},
      DVHIGH = #{dvhigh,jdbcType=VARCHAR},
      DVFLAG = #{dvflag,jdbcType=DECIMAL},
      TOTALNAME = #{totalname,jdbcType=VARCHAR},
      ISDEL = #{isdel,jdbcType=DECIMAL}
    where DVCODE = #{dvcode,jdbcType=VARCHAR}
  </update>

</mapper>