<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hvit.workspace.dao.EnumerationMapper">
  <resultMap id="BaseResultMap" type="cn.com.hvit.workspace.model.Enumeration">
    <result column="ENUMERATETYPE" jdbcType="VARCHAR" property="enumeratetype" />
    <result column="ENUMERATEVALUE" jdbcType="VARCHAR" property="enumeratevalue" />
    <result column="ENUMERATELABEL" jdbcType="VARCHAR" property="enumeratelabel" />

  </resultMap>

  <select id="getEnumberation" resultMap="BaseResultMap">
    SELECT
      CIDENT AS ENUMERATETYPE,
      CNAME AS ENUMERATELABEL,
      CVALUE AS ENUMERATEVALUE
      FROM CONFIGURE

  </select>

</mapper>