<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hvit.workspace.dao.ls_earthquakeresponseMapper" >
  <resultMap id="BaseResultMap" type="cn.com.hvit.workspace.model.ls_earthquakeresponse" >
    <result column="YJID" property="yjid" jdbcType="DECIMAL" />
    <result column="YJNAME" property="yjname" jdbcType="VARCHAR" />
    <result column="YJPATH" property="yjpath" jdbcType="VARCHAR" />
    <result column="YJSTATUS" property="yjstatus" jdbcType="VARCHAR" />
    <result column="REGIONID" property="regionid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    YJID, YJNAME, YJPATH ,YJSTATUS,REGIONID
  </sql>
  <select id="getResponseByCond" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from LS_BLAST-->
    <!--WHERE isdel is NULL ${conds}-->
    <!--ORDER BY b_id DESC-->
    SELECT
    <include refid="Base_Column_List" />
    from LS_EARTHQUAKERESPONSE
    <where>
      <if test="yjname != null">
        yjname like CONCAT('%',CONCAT (#{yjname},'%'))
      </if>
    </where>
    ORDER BY yjid DESC
  </select>
  <select id="getEarthResponse" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from LS_EARTHQUAKERESPONSE
    WHERE regionid like CONCAT('%',CONCAT (#{regionid},'%'))
  </select>
  <select id="getResponseid" resultType="map">
      select seq_ls_earthquakeresponse.nextval as "nextid"  from dual
  </select>
  <select id="getResponseByid" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    from LS_EARTHQUAKERESPONSE
    WHERE yjid = #{0}
  </select>
  <insert id="insert" parameterType="cn.com.hvit.workspace.model.ls_earthquakeresponse" >
    insert into LS_EARTHQUAKERESPONSE (YJID, YJNAME, YJPATH ,YJSTATUS ,REGIONID
      )
    values (#{yjid,jdbcType=DECIMAL}, #{yjname,jdbcType=VARCHAR}, #{yjpath,jdbcType=VARCHAR}, #{yjstatus,jdbcType=VARCHAR}, #{regionid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hvit.workspace.model.ls_earthquakeresponse" >
    insert into LS_EARTHQUAKERESPONSE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="yjid != null" >
        YJID,
      </if>
      <if test="yjname != null" >
        YJNAME,
      </if>
      <if test="yjpath != null" >
        YJPATH,
      </if>
      <if test="yjstatus != null" >
        YJSTATUS,
      </if>
      <if test="regionid != null" >
        REGIONID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="yjid != null" >
        #{yjid,jdbcType=DECIMAL},
      </if>
      <if test="yjname != null" >
        #{yjname,jdbcType=VARCHAR},
      </if>
      <if test="yjpath != null" >
        #{yjpath,jdbcType=VARCHAR},
      </if>
      <if test="yjstatus != null" >
        #{yjstatus,jdbcType=VARCHAR},
      </if>
      <if test="regionid != null" >
        #{regionid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateEarthquake" parameterType="cn.com.hvit.workspace.model.ls_earthquakeresponse">
    UPDATE LS_EARTHQUAKERESPONSE
    <set>
      <if test="yjname != null" >
        yjname = #{yjname,jdbcType=TIMESTAMP},
      </if>
      <if test="yjpath != null" >
        yjpath = #{yjpath,jdbcType=DECIMAL},
      </if>
      <if test="yjstatus != null" >
        yjstatus = #{yjstatus,jdbcType=DECIMAL},
      </if>
      <if test="regionid != null" >
        regionid = #{regionid,jdbcType=DECIMAL},
      </if>
    </set>
    where yjid = #{yjid,jdbcType=DECIMAL}
  </update>
</mapper>