<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hvit.workspace.dao.Ls_ReservoirMapper">
  <resultMap id="BaseResultMap" type="cn.com.hvit.workspace.model.Ls_Reservoir">
    <id column="RESERVOIRID" jdbcType="DECIMAL" property="reservoirid" />
    <result column="RESERVOIRNAME" jdbcType="VARCHAR" property="reservoirname" />
    <result column="RESERVOIRADDRESS" jdbcType="VARCHAR" property="reservoiraddress" />
    <result column="DAMPOSITION" jdbcType="VARCHAR" property="damposition" />
    <result column="RESERVOIRAREA" jdbcType="FLOAT" property="reservoirarea" />
    <result column="RESERVOIRTIME" jdbcType="VARCHAR" property="reservoirtime" />
    <result column="DAMHEIGHT" jdbcType="FLOAT" property="damheight" />
    <result column="DAMLONG" jdbcType="FLOAT" property="damlong" />
    <result column="DESIGNCAPACITY" jdbcType="FLOAT" property="designcapacity" />
    <result column="MAXCAPACITY" jdbcType="FLOAT" property="maxcapacity" />
    <result column="DAMTYPE" jdbcType="VARCHAR" property="damtype" />
    <result column="DESIGNWATERLEVEL" jdbcType="FLOAT" property="designwaterlevel" />
    <result column="MAXWATERLEVEL" jdbcType="FLOAT" property="maxwaterlevel" />
    <result column="DESIGNINTENSITY" jdbcType="FLOAT" property="designintensity" />
    <result column="RESERVOIRINTENSITY" jdbcType="FLOAT" property="reservoirintensity" />
  </resultMap>
  <sql id="Base_Column_List">
    RESERVOIRID, RESERVOIRNAME, RESERVOIRADDRESS, DAMPOSITION, RESERVOIRAREA, RESERVOIRTIME, 
    DAMHEIGHT, DAMLONG, DESIGNCAPACITY, MAXCAPACITY, DAMTYPE, DESIGNWATERLEVEL, MAXWATERLEVEL, 
    DESIGNINTENSITY, RESERVOIRINTENSITY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LS_RESERVOIR
    where RESERVOIRID = #{reservoirid,jdbcType=DECIMAL}
  </select>
  <select id="getReservior" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from LS_RESERVOIR
  </select>

</mapper>