<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hvit.workspace.dao.Ls_StationMapper">
  <resultMap id="BaseResultMap" type="cn.com.hvit.workspace.model.Ls_Station">
    <id column="STATIONCODE" jdbcType="VARCHAR" property="stationcode" />
    <result column="STATIONLON" jdbcType="VARCHAR" property="stationlon" />
    <result column="STATIONLAT" jdbcType="FLOAT" property="stationlat" />
    <result column="NETWORKNAME" jdbcType="VARCHAR" property="networkname" />
    <result column="NETWORKCODE" jdbcType="VARCHAR" property="networkcode" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="GATEWAY" jdbcType="VARCHAR" property="gateway" />
    <result column="COMMUNICATIONTYPE" jdbcType="VARCHAR" property="communicationtype" />
    <result column="LINKMAN" jdbcType="VARCHAR" property="linkman" />
    <result column="LINKMANPHONE" jdbcType="VARCHAR" property="linkmanphone" />
    <result column="CROSSVALUE" jdbcType="VARCHAR" property="crossvalue" />
    <result column="STATIONIP" jdbcType="VARCHAR" property="stationip" />
    <result column="ELEVATION" jdbcType="FLOAT" property="elevation" />
    <result column="STATIONNAME" jdbcType="VARCHAR" property="stationname" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
    <result column="BGTIME" jdbcType="TIMESTAMP" property="bgtime" />
    <result column="ENDTIME" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  <sql id="Base_Column_List">
    STATIONCODE, STATIONLON, STATIONLAT, NETWORKNAME, NETWORKCODE, ADDRESS, GATEWAY, 
    COMMUNICATIONTYPE, LINKMAN, LINKMANPHONE, CROSSVALUE, STATIONIP, ELEVATION, STATIONNAME, 
    FLAG, BGTIME, ENDTIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LS_STATION
    where STATIONCODE = #{stationcode,jdbcType=VARCHAR}
  </select>

  <select id="getStation" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from LS_STATION
  </select>
</mapper>