<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hvit.workspace.dao.PointinfoMapper">
  <resultMap id="BaseResultMap" type="cn.com.hvit.workspace.model.Pointinfo">
    <id column="POINTID" jdbcType="VARCHAR" property="pointid" />
    <result column="EARTHID" jdbcType="VARCHAR" property="earthid" />
    <result column="POINTLOCATION" jdbcType="VARCHAR" property="pointlocation" />
    <result column="POINTLON" jdbcType="FLOAT" property="pointlon" />
    <result column="POINTLAT" jdbcType="FLOAT" property="pointlat" />
    <result column="POINTNAME" jdbcType="VARCHAR" property="pointname" />
    <result column="POINTTIME" jdbcType="TIMESTAMP" property="pointtime" />
    <result column="POINTGROUP" jdbcType="VARCHAR" property="pointgroup" />
    <result column="POINTPERSON" jdbcType="VARCHAR" property="pointperson" />
    <result column="POINTINTENSITY" jdbcType="VARCHAR" property="pointintensity" />
    <result column="POINTCONTENT" jdbcType="VARCHAR" property="pointcontent" />
    <result column="MSGTEL" jdbcType="VARCHAR" property="msgtel" />
    <result column="MSGCONTENT" jdbcType="VARCHAR" property="msgcontent" />
  </resultMap>
  <sql id="Base_Column_List">
    POINTID, EARTHID, POINTLOCATION, POINTLON, POINTLAT, POINTNAME, POINTTIME, POINTGROUP,
    POINTPERSON, POINTINTENSITY, POINTCONTENT, MSGTEL, MSGCONTENT
  </sql>
  <select id="getPointByconds" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from POINTINFO
  </select>
  <select id="getPoints" resultMap="BaseResultMap">
    select * from pointinfo
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from POINTINFO
    where POINTID = #{pointid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from POINTINFO
    where POINTID = #{pointid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.hvit.workspace.model.Pointinfo">
    insert into POINTINFO (POINTID, EARTHID, POINTLOCATION,
    POINTLON, POINTLAT, POINTNAME,
    POINTTIME, POINTGROUP, POINTPERSON,
    POINTINTENSITY, POINTCONTENT, MSGTEL,
    MSGCONTENT)
    values (#{pointid,jdbcType=VARCHAR}, #{earthid,jdbcType=VARCHAR}, #{pointlocation,jdbcType=VARCHAR},
    #{pointlon,jdbcType=FLOAT}, #{pointlat,jdbcType=FLOAT}, #{pointname,jdbcType=VARCHAR},
    #{pointtime,jdbcType=TIMESTAMP}, #{pointgroup,jdbcType=VARCHAR}, #{pointperson,jdbcType=VARCHAR},
    #{pointintensity,jdbcType=VARCHAR}, #{pointcontent,jdbcType=VARCHAR}, #{msgtel,jdbcType=VARCHAR},
    #{msgcontent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hvit.workspace.model.Pointinfo">
    insert into POINTINFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pointid != null">
        POINTID,
      </if>
      <if test="earthid != null">
        EARTHID,
      </if>
      <if test="pointlocation != null">
        POINTLOCATION,
      </if>
      <if test="pointlon != null">
        POINTLON,
      </if>
      <if test="pointlat != null">
        POINTLAT,
      </if>
      <if test="pointname != null">
        POINTNAME,
      </if>
      <if test="pointtime != null">
        POINTTIME,
      </if>
      <if test="pointgroup != null">
        POINTGROUP,
      </if>
      <if test="pointperson != null">
        POINTPERSON,
      </if>
      <if test="pointintensity != null">
        POINTINTENSITY,
      </if>
      <if test="pointcontent != null">
        POINTCONTENT,
      </if>
      <if test="msgtel != null">
        MSGTEL,
      </if>
      <if test="msgcontent != null">
        MSGCONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pointid != null">
        #{pointid,jdbcType=VARCHAR},
      </if>
      <if test="earthid != null">
        #{earthid,jdbcType=VARCHAR},
      </if>
      <if test="pointlocation != null">
        #{pointlocation,jdbcType=VARCHAR},
      </if>
      <if test="pointlon != null">
        #{pointlon,jdbcType=FLOAT},
      </if>
      <if test="pointlat != null">
        #{pointlat,jdbcType=FLOAT},
      </if>
      <if test="pointname != null">
        #{pointname,jdbcType=VARCHAR},
      </if>
      <if test="pointtime != null">
        #{pointtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pointgroup != null">
        #{pointgroup,jdbcType=VARCHAR},
      </if>
      <if test="pointperson != null">
        #{pointperson,jdbcType=VARCHAR},
      </if>
      <if test="pointintensity != null">
        #{pointintensity,jdbcType=VARCHAR},
      </if>
      <if test="pointcontent != null">
        #{pointcontent,jdbcType=VARCHAR},
      </if>
      <if test="msgtel != null">
        #{msgtel,jdbcType=VARCHAR},
      </if>
      <if test="msgcontent != null">
        #{msgcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hvit.workspace.model.Pointinfo">
    update POINTINFO
    <set>
      <if test="earthid != null">
        EARTHID = #{earthid,jdbcType=VARCHAR},
      </if>
      <if test="pointlocation != null">
        POINTLOCATION = #{pointlocation,jdbcType=VARCHAR},
      </if>
      <if test="pointlon != null">
        POINTLON = #{pointlon,jdbcType=FLOAT},
      </if>
      <if test="pointlat != null">
        POINTLAT = #{pointlat,jdbcType=FLOAT},
      </if>
      <if test="pointname != null">
        POINTNAME = #{pointname,jdbcType=VARCHAR},
      </if>
      <if test="pointtime != null">
        POINTTIME = #{pointtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pointgroup != null">
        POINTGROUP = #{pointgroup,jdbcType=VARCHAR},
      </if>
      <if test="pointperson != null">
        POINTPERSON = #{pointperson,jdbcType=VARCHAR},
      </if>
      <if test="pointintensity != null">
        POINTINTENSITY = #{pointintensity,jdbcType=VARCHAR},
      </if>
      <if test="pointcontent != null">
        POINTCONTENT = #{pointcontent,jdbcType=VARCHAR},
      </if>
      <if test="msgtel != null">
        MSGTEL = #{msgtel,jdbcType=VARCHAR},
      </if>
      <if test="msgcontent != null">
        MSGCONTENT = #{msgcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where POINTID = #{pointid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hvit.workspace.model.Pointinfo">
    update POINTINFO
    set EARTHID = #{earthid,jdbcType=VARCHAR},
    POINTLOCATION = #{pointlocation,jdbcType=VARCHAR},
    POINTLON = #{pointlon,jdbcType=FLOAT},
    POINTLAT = #{pointlat,jdbcType=FLOAT},
    POINTNAME = #{pointname,jdbcType=VARCHAR},
    POINTTIME = #{pointtime,jdbcType=TIMESTAMP},
    POINTGROUP = #{pointgroup,jdbcType=VARCHAR},
    POINTPERSON = #{pointperson,jdbcType=VARCHAR},
    POINTINTENSITY = #{pointintensity,jdbcType=VARCHAR},
    POINTCONTENT = #{pointcontent,jdbcType=VARCHAR},
    MSGTEL = #{msgtel,jdbcType=VARCHAR},
    MSGCONTENT = #{msgcontent,jdbcType=VARCHAR}
    where POINTID = #{pointid,jdbcType=VARCHAR}
  </update>
</mapper>