<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hvit.workspace.dao.XtFunctionMapper" >
  <resultMap id="BaseResultMap" type="cn.com.hvit.workspace.model.XtFunction" >
    <id column="FUNCTIONID" property="functionid" jdbcType="VARCHAR" />
    <result column="LOCATION" property="location" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="PARENT" property="parent" jdbcType="VARCHAR" />
    <result column="ORDERNO" property="orderno" jdbcType="DECIMAL" />
    <result column="NODETYPE" property="nodetype" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="LOG" property="log" jdbcType="VARCHAR" />
    <result column="DEVELOPER" property="developer" jdbcType="VARCHAR" />
    <result column="ACTIVE" property="active" jdbcType="VARCHAR" />
    <result column="FUNCTIONDESC" property="functiondesc" jdbcType="VARCHAR" />
    <result column="AUFLAG" property="auflag" jdbcType="CHAR" />
    <result column="RBFLAG" property="rbflag" jdbcType="CHAR" />
    <result column="PARAM1" property="param1" jdbcType="VARCHAR" />
    <result column="PARAM2" property="param2" jdbcType="VARCHAR" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="OWNER" property="owner" jdbcType="VARCHAR" />
    <result column="BSDIGEST" property="bsdigest" jdbcType="VARCHAR" />
    <result column="URLPATH" property="urlpath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FUNCTIONID, LOCATION, TITLE, PARENT, ORDERNO, NODETYPE, TYPE, DESCRIPTION, LOG, DEVELOPER, 
    ACTIVE, FUNCTIONDESC, AUFLAG, RBFLAG, PARAM1, PARAM2, CREATEDATE, OWNER, BSDIGEST, 
    URLPATH
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from XT_FUNCTION
    where FUNCTIONID = #{functionid,jdbcType=VARCHAR}
  </select>

  <select id="selectAllFunctions" resultType="map" parameterType="java.lang.String" >
    select * from XT_FUNCTION
  </select>

  <select id="selectSubFunctions" resultType="map" parameterType="java.lang.String" >
    select t.*,t.functionid id,t.title text,t.location value,(select (decode(count(1),0,'true','false'))
    from xt_function where parent=t.functionid) leaf  from xt_function t where t.parent=#{functionid} order by t.orderno asc
  </select>

    <select id="selectFunctionByLoginnameAndFunctionid" resultType="map" parameterType="map" >
    select m.*,m.functionid id,m.title text,m.location value,(select (decode(count(1),0,'true','false')) from xt_function where parent=m.functionid) leaf from
    (select distinct(t.functionid) functionid from xt_function t
     ,xt_user u,xt_rolefunc rf,xt_roleuser ru where ru.roleid=rf.roleid and rf.functionid=t.functionid and ru.userid=u.userid and u.loginname=#{loginname} and t.parent=#{functionid}) n,
     xt_function m where m.functionid=n.functionid order by m.orderno asc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from XT_FUNCTION
    where FUNCTIONID = #{functionid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.hvit.workspace.model.XtFunction" >
 <selectKey  resultType="String" order="BEFORE" keyProperty="functionid">
          select sys_guid() from dual
    </selectKey>
    insert into XT_FUNCTION (FUNCTIONID, LOCATION, TITLE, 
      PARENT, ORDERNO, NODETYPE, 
      TYPE, DESCRIPTION, LOG, 
      DEVELOPER, ACTIVE, FUNCTIONDESC, 
      AUFLAG, RBFLAG, PARAM1, PARAM2, 
      CREATEDATE, OWNER, BSDIGEST, 
      URLPATH)
    values (#{functionid,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{parent,jdbcType=VARCHAR}, #{orderno,jdbcType=DECIMAL}, #{nodetype,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{log,jdbcType=VARCHAR}, 
      #{developer,jdbcType=VARCHAR}, #{active,jdbcType=VARCHAR}, #{functiondesc,jdbcType=VARCHAR}, 
      #{auflag,jdbcType=CHAR}, #{rbflag,jdbcType=CHAR}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{owner,jdbcType=VARCHAR}, #{bsdigest,jdbcType=VARCHAR}, 
      #{urlpath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hvit.workspace.model.XtFunction" >
    insert into XT_FUNCTION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="functionid != null" >
        FUNCTIONID,
      </if>
      <if test="location != null" >
        LOCATION,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="parent != null" >
        PARENT,
      </if>
      <if test="orderno != null" >
        ORDERNO,
      </if>
      <if test="nodetype != null" >
        NODETYPE,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="log != null" >
        LOG,
      </if>
      <if test="developer != null" >
        DEVELOPER,
      </if>
      <if test="active != null" >
        ACTIVE,
      </if>
      <if test="functiondesc != null" >
        FUNCTIONDESC,
      </if>
      <if test="auflag != null" >
        AUFLAG,
      </if>
      <if test="rbflag != null" >
        RBFLAG,
      </if>
      <if test="param1 != null" >
        PARAM1,
      </if>
      <if test="param2 != null" >
        PARAM2,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="owner != null" >
        OWNER,
      </if>
      <if test="bsdigest != null" >
        BSDIGEST,
      </if>
      <if test="urlpath != null" >
        URLPATH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="functionid != null" >
        #{functionid,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=DECIMAL},
      </if>
      <if test="nodetype != null" >
        #{nodetype,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="log != null" >
        #{log,jdbcType=VARCHAR},
      </if>
      <if test="developer != null" >
        #{developer,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        #{active,jdbcType=VARCHAR},
      </if>
      <if test="functiondesc != null" >
        #{functiondesc,jdbcType=VARCHAR},
      </if>
      <if test="auflag != null" >
        #{auflag,jdbcType=CHAR},
      </if>
      <if test="rbflag != null" >
        #{rbflag,jdbcType=CHAR},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="bsdigest != null" >
        #{bsdigest,jdbcType=VARCHAR},
      </if>
      <if test="urlpath != null" >
        #{urlpath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hvit.workspace.model.XtFunction" >
    update XT_FUNCTION
    <set >
      <if test="location != null" >
        LOCATION = #{location,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        PARENT = #{parent,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        ORDERNO = #{orderno,jdbcType=DECIMAL},
      </if>
      <if test="nodetype != null" >
        NODETYPE = #{nodetype,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="log != null" >
        LOG = #{log,jdbcType=VARCHAR},
      </if>
      <if test="developer != null" >
        DEVELOPER = #{developer,jdbcType=VARCHAR},
      </if>
      <if test="active != null" >
        ACTIVE = #{active,jdbcType=VARCHAR},
      </if>
      <if test="functiondesc != null" >
        FUNCTIONDESC = #{functiondesc,jdbcType=VARCHAR},
      </if>
      <if test="auflag != null" >
        AUFLAG = #{auflag,jdbcType=CHAR},
      </if>
      <if test="rbflag != null" >
        RBFLAG = #{rbflag,jdbcType=CHAR},
      </if>
      <if test="param1 != null" >
        PARAM1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        PARAM2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="owner != null" >
        OWNER = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="bsdigest != null" >
        BSDIGEST = #{bsdigest,jdbcType=VARCHAR},
      </if>
      <if test="urlpath != null" >
        URLPATH = #{urlpath,jdbcType=VARCHAR},
      </if>
    </set>
    where FUNCTIONID = #{functionid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hvit.workspace.model.XtFunction" >
    update XT_FUNCTION
    set LOCATION = #{location,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      PARENT = #{parent,jdbcType=VARCHAR},
      ORDERNO = #{orderno,jdbcType=DECIMAL},
      NODETYPE = #{nodetype,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      LOG = #{log,jdbcType=VARCHAR},
      DEVELOPER = #{developer,jdbcType=VARCHAR},
      ACTIVE = #{active,jdbcType=VARCHAR},
      FUNCTIONDESC = #{functiondesc,jdbcType=VARCHAR},
      AUFLAG = #{auflag,jdbcType=CHAR},
      RBFLAG = #{rbflag,jdbcType=CHAR},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      OWNER = #{owner,jdbcType=VARCHAR},
      BSDIGEST = #{bsdigest,jdbcType=VARCHAR},
      URLPATH = #{urlpath,jdbcType=VARCHAR}
    where FUNCTIONID = #{functionid,jdbcType=VARCHAR}
  </update>
</mapper>