<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hvit.workspace.dao.XtRoleFuncMapper" >
  <resultMap id="BaseResultMap" type="cn.com.hvit.workspace.model.XtRoleFunc" >
    <id column="ROLEFUNCID" property="rolefuncid" jdbcType="DECIMAL" />
    <result column="ROLEID" property="roleid" jdbcType="DECIMAL" />
    <result column="FUNCTIONID" property="functionid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLEFUNCID, ROLEID, FUNCTIONID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from XT_ROLEFUNC
    where ROLEFUNCID = #{rolefuncid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from XT_ROLEFUNC
    where ROLEFUNCID = #{rolefuncid,jdbcType=DECIMAL}
  </delete>

    <delete id="deleteByRoleId" parameterType="java.lang.Integer" >
    delete from XT_ROLEFUNC
    where roleid = #{roleid,jdbcType=DECIMAL}
  </delete>


  <insert id="insert" parameterType="cn.com.hvit.workspace.model.XtRoleFunc" >
<selectKey  resultType="int" order="BEFORE" keyProperty="rolefuncid">
          select SEQ_XT_ROLEFUNC.nextval from dual
    </selectKey>
    insert into XT_ROLEFUNC (ROLEFUNCID, ROLEID, FUNCTIONID
      )
    values (#{rolefuncid,jdbcType=DECIMAL}, #{roleid,jdbcType=DECIMAL}, #{functionid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hvit.workspace.model.XtRoleFunc" >
    insert into XT_ROLEFUNC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolefuncid != null" >
        ROLEFUNCID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="functionid != null" >
        FUNCTIONID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolefuncid != null" >
        #{rolefuncid,jdbcType=DECIMAL},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="functionid != null" >
        #{functionid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hvit.workspace.model.XtRoleFunc" >
    update XT_ROLEFUNC
    <set >
      <if test="roleid != null" >
        ROLEID = #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="functionid != null" >
        FUNCTIONID = #{functionid,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLEFUNCID = #{rolefuncid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hvit.workspace.model.XtRoleFunc" >
    update XT_ROLEFUNC
    set ROLEID = #{roleid,jdbcType=DECIMAL},
      FUNCTIONID = #{functionid,jdbcType=VARCHAR}
    where ROLEFUNCID = #{rolefuncid,jdbcType=DECIMAL}
  </update>
</mapper>